@import "minireset.min";

body {
  font-family: open sans condensed,sans-serif;
  font-size: 13px;
  color: #212121;
}
p{
  font-family: verdana,geneva,sans-serif;
}

/* -------------------------------------
       TYPOGRAPHY
------------------------------------- */
.-normal{
  font-size: 14px;
}
.-large{
  font-size: 19px;
}
.-title1{
  font-size: 25px;
}
.-title2{
  font-size: 30px;
}
.-title3{
  font-size: 35px;
}
.-title4{
  font-size: 40px;
}
.-title5{
  font-size: 47px;
}
.-title6{
  font-size: 55px;
}
.-title7{
  font-size: 68px;
}
.-title8{
  font-size: 72px;
}
.-red{
  color: #B22222;;
}

input[type=text] {
  width: 320px;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 15px;
  background-repeat: no-repeat;
  padding: 15px 20px 15px 40px;
  &#name {
    background-image: url('../images/user2.png');
  }
  &#number {
    background-image: url('../images/tel_52Z1pCs.png');
  }
}
input[type=submit] {
  margin-left: 10px;
  background-color: #f7a800;
  color: #333;
  font-size: 17px;
  font-weight: 600;
  padding: 15px 25px;
  border: 1px solid #333;
  border-radius: 17px;
  width: 245px;
  cursor: pointer;
  font-family: Trebuchet MS;
}

input[type=submit]:hover {
  background-image: url("../images/tolstaya-knopka-2.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@import "components/main-container";
@import "components/main-content";
@import "components/main-wrapper";
@import "components/section-comment";
@import "components/section-product";
@import "components/section-causes";
@import "components/section-question";
@import "components/main-footer";
@import "components/section-head";
@import "components/section-check";
@import "components/pop-up";


