.section-product {
  color: #585654;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
  > .-title2 {
    line-height: 36px;
    border-bottom: 1px solid #ed7c74;
    padding-bottom: 10px;
  }
  > .about {
    font-size: 14px;
    font-family: open sans, sans-serif;
    font-weight: 700;
    line-height: 21px;
    padding: 20px 0 10px 0;
    flex-grow: 1;
  }
  > .proper {
    font-size: 15px;
    font-family: open sans, sans-serif;
    font-weight: 700;
    line-height: 22.5px;
    table {
      border-collapse: collapse;
      tr {
        border: 0;
      }
      td {
        padding: 8px 0 8px 5px;
        border: 1px solid #959595;
        > strong {
          color: #ed7c74;
          font-size: 24px;
          padding-left: 10px;
          text-decoration: none;
        }
        >span{
          font-size: 14px;
        }

        &:first-child {
          padding-left: 0;
          padding-right: 10px;
        }
      }
      // Borders magic
      tr:first-child td {
        border-top-color: transparent;
      }
      tr:last-child td {
        border-bottom-color: transparent;
      }
      td:first-child {
        border-left-color: transparent;
      }
      td:last-child {
        border-right-color: transparent;
      }
    }
  }
  > .sale {
    color: #dd6861;
    font-weight: 700;
    font-family: open sans, sans-serif;
    padding-top: 10px;
    >.buy{
      padding-top: 10px;

    .button {
      padding: 10px 30px;
      line-height: 71px;
      color: #333333;
      font-size: 19px;
      background-color: #ffc800;
      text-decoration: none;
      font-weight: bold;
      box-shadow: 0 3px 10px rgba(0,0,0,0.5);
      &:hover{
        box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
      }
    }
    }
  }
}