.section-question {
  color: #696969;
  padding-top: 80px;
  .call {
    padding-top: 40px;
    color: #222222;
    font-family: open sans, sans-serif;
    > .-normal {
      padding-bottom: 10px;
    }

  }
  .arrow {
    padding-left: 800px;
    padding-top: 5px;

  }

}